<ion-view view-title="Alarm" class="view">
  <!-- do you want padding? -->
  <ion-content class="padding Clock">
    <div class="alarm">
      <div class="inner">

      </div>
    </div>
    <div class="alarm">
      <div class="inner">

      </div>
    </div>
    <div class="alarm">
      <div class="inner">

      </div>
    </div>
    <div class="alarm">
      <div class="inner">

      </div>
    </div>
    <div class="alarm">
      <div class="inner">

      </div>
    </div>
  </ion-content>
</ion-view>
